<html>
    <head>
        <link rel="stylesheet" href="css/lobster.css">
    </head>


    <body>
      <im
         <h1>
            clam engaged you in a battle
           <br>
        </h1>

         <input type="radio" name="winorlose" value ="lobsterpoliticswin">fight<br>
            <input type="radio" name="winorlose" value ="lose">run<br>
            <form method= "post" action="/fight">
                <input type="submit" value = "next!">

                <h2>
                  <% @fightlogarray.each_with_index do |move, i| %>
                    <%= "#{i + 1}. #{move} <br>" %>
                  <% end %>
                </h2>

                <img src="images/784e3e1f_360.gif">
                <img src="images/animals-lobster_360.gif">
    </body>
</html>
