<html>
    <head>
        <link rel="stylesheet" href="css/lobster.css">
       
    </head>
     

    <body>
      
         <h1>
            clam engaged you in a battle
           
        </h1>
         <input type="radio" name="winorlose" value ="lobsterpoliticswin">fight<br>
            <input type="radio" name="winorlose" value ="lose">run<br>
            <form method= "post" action="/finalpage">
                <input type="submit" value = "next!">
    </body>
</html>