<html>
    <head>
        <link rel="stylesheet" href="css/lobster.css">
    </head>
     

    <body>
      <im
         <h1>
            clam engaged you in a battle
<<<<<<< HEAD
=======
           <br>
>>>>>>> 4090c2ffe5e8fa390a1e2b42632a71970eb301da
        </h1>
      
         <input type="radio" name="winorlose" value ="lobsterpoliticswin">fight<br>
            <input type="radio" name="winorlose" value ="lose">run<br>
            <form method= "post" action="/fight">
                <input type="submit" value = "next!">
<<<<<<< HEAD
            <%=
            @x =+ 1
            @fightlogarray[@x] %>
                

=======
                <h2> <%=@fight_result%>
                </h2>
                
                <img src="images/784e3e1f_360.gif">
                <img src="images/animals-lobster_360.gif">
                
>>>>>>> 4090c2ffe5e8fa390a1e2b42632a71970eb301da
    </body>
</html>