<html>
    <head> 
        <link rel="stylesheet" href="css/lobster.css">
    </head>
    
    <body>
        <img src="images/dancing-lobster.gif">
        <h1> LOBSTER QUEST </h1> 
        <div>
            <input class="button" type="submit" value="PLAY AGAIN!">
        </div> 
        <img id="img1" src="images/slack-imgs.gif"> 
        <img id="img2" src="images/slack-imgs.gif">
    </body>

</html>

<!--@win/lose-->
        <!--if win = "Congratulations you've won!!"-->
        <!--if lose = "You suck! You've lost!! YOU're a failure and a dissapointment to you family!-->
