<html>
    <head>
        <link rel="stylesheet" href="css/style.css"> 
    </head>
    <body>
        <h1>Joke Generator</h1>
        <h3>
            Here is your joke: <br> <%= @answer %> <br> Thank you for using Joke Generator™. Enjoy!!
        </h3>
    </body>
    
</html>