<html>
    <head>
 <!--in application controller, the folder 'public' is set as a public folder so you can assume you're standing in it-->

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style.scss">
    </head>
    
    <body>
        <h1>WELCOME TO JOKE GENERATOR™!!!!</h1>
        <h2 id="header2-3"> "Jokes to make your dad proud!" </h2>
        <h2 id="header2-1"> Do too many people like you/enjoy your presence? JOKE GENERATOR™ can change that! </h2>

        <h2 id="header2-2"> Customize you joke here! </h2>
        <form method="post" action="/customjoke">
            <h3 id="header3-1"> What kinds of jokes do you like? </h3>
                <input type="radio" name="theme" value="animals"> Animal Jokes<br>
                <input type="radio" name="theme" value="bars"> Bar Jokes<br>
                <input type="radio" name="theme" value="knockknocks"> Knock-Knock Jokes<br>
            <h3 id="header3-2"> What is the quality of the joke? </h3>
                <input type="radio" name="quality" value="good"> Cringy<br>
                <input type="radio" name="quality" value="bad"> Very Cringy<br>
            <h3 id="header3-3"> What is the length of the joke? </h3>
                <input type="radio" name="length" value="long"> Long<br>
                <input type="radio" name="length" value="short"> Short<br>
            
            <input type="submit" value="Click here to get your next crowd pleaser!">
        </form>

        
       <h3 id="header3-4"> Our Mission </h3>
           <p id="p1"> This website is designed to help people get in touch with their humor side! <br> Over 11 jokes, we can provide laughs for days!!! From animal jokes, to knock-knock jokes and bar jokes, <br> we have many themes to choose from! You can even chose the length and quality of your jokes too! </p>


    </body>
</html>
