<html>
    <head>
        <link rel="stylesheet" href="css/lobster.css">
    </head>
    <body>
        <h3>hello</h3>
        <input type="radio" name="winorlose" value ="lobsterpoliticswin">play<br>
            <input type="radio" name="winorlose" value ="lose">die a horrible death<br>
              <div>
         <form method= "post" action="/fight">
            <input class="button" type="submit" value="next!">
            
            </form>
        </div>
        <img src="images/animals-lobster_360.gif">

    </body>
</html>