<html>
    <head>
        <link rel="stylesheet" href="css/lobster.css">
    </head>
    <body>
        <p>hello</p>
        <input type="radio" name="winorlose" value ="lobsterpoliticswin">play<br>
            <input type="radio" name="winorlose" value ="lose">die a horrible death<br>
            <form method= "post" action="/fight">
                <input type="submit" value = "next!">

    </body>
</html>